@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/static/Lora-Medium.ttf');
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Light.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*GENERAL PARA TODAS LAS LANDINGS*/

.menu {
    background-color: #9f9fed;
    display: flex;
    justify-content: space-between;

}
 
ul{
    list-style: none;
    display: flex;
    margin-top: 15px ;
    gap: 3rem;

}
.menu li ul{
    display:none;
    position:absolute;
    background: #9f9fed;
    padding: 0;
    z-index: 2;
   
    }



.dropdown:hover .dropdown-child {
    display: block;
}

.dropdown-child:hover{
    display: block;
}


a { 
    color: rgb(255, 252, 252);
    text-decoration: none;
}




.logo{ 
    size: 30px;
}


header {
    font-family: 'Poppins';
}

/*index*/

.empecemos {
    
    font-family: 'Poppins',sans-serif;
    font-size:xx-large;
    height:100vh;
    background-size: cover;

    
}

.tituloempecemos{
    height: 30%;
    background-color: #fef9ff;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
    

.tarjetitas { 
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 40%;
    background-color: #fef9ff;
    font-size:large;
   
    
    
}

.tarjetita{
    
    width: 50%;
    height: 100%;
    text-align: center;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d4c1ec;

    
}



/*REGISTRATECLIENTE*/

.contenedorBoton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    
}
.botonEnviar{
    width: 50%;
    color: rgb(245, 240, 240);
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #9f9fed;

    
}

.botonEnviar {
    background-image: linear-gradient(90deg, #d4c1ec 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 1s ease-in-out;
  }
  .botonEnviar:hover {
    background-position: 0;
  }



.SeccionRegistrate {
    font-family: 'Poppins',sans-serif;
    display: flex;
    flex-direction: column;
    height:100vh;
    margin: 0;
    text-align: center;
    justify-content: center;
    gap: 5rem;
    
    
}



.form {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;


 }

input{
    width: 50%;
}



/*SERVICIOS*/


.Titulo {
    text-align: center;
    background-color: #fef9ff;
    font-family: 'Poppins',sans-serif;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.tarjetitasServicios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    
    height:100vh;
    background-color: #fef9ff;


 }

.tarjetitaServicios { 
    border: black 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lora',sans-serif;

}


.tarjetaPlomeria{
    
    background-image: url(../img/plomeria.png);
    background-size: cover;
    background-color: #d4c1ec;
}
.tarjetaJardineria{
    
    background-image: url(../img/JARDINERIA-removebg-preview\ \(1\).png);
    background-size: cover;
    background-color: #d4c1ec;
}
.tarjetaCarpinteria{
    
    background-image: url(../img/carpinteria-removebg-preview.png);
    background-size: cover;
    background-color: #d4c1ec;
}
.tarjetaElectricidad{

    background-image: url(../img/electricidad-removebg-preview.png);
    background-size: cover;
    background-color: #d4c1ec;
}
.tarjetaLimpieza{
    
    background-image: url(../img/limpieza-removebg-preview.png);
    background-size: cover;
    background-color: #d4c1ec;
}
.tarjetaBelleza{
    
    background-image: url(../img/belleza-removebg-preview.png);
    background-size: cover;
    background-color: #d4c1ec;
}
.tarjetaAires{  
    background-image: url(../img/aires-removebg-preview.png);
    background-size: cover;
    background-color: #d4c1ec;
}
.tarjetaMecanica{
    
    background-image: url(../img/mecanica-removebg-preview.png);
    background-size: cover;
    background-color: #d4c1ec;
}
.tarjetaPintura{
    
    background-image: url(../img/pintura-removebg-preview.png);
    background-size: cover;
    background-color: #d4c1ec;}



/*COMO USAR*/

.titulo{
    background-color: #d4c1ec;
    font-family:'Poppins';
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    
}

.contenedorBS{

    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.instrucciones h2 {
    font-family:'Poppins';
}

.columna{
    padding-top: 3rem;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: top;
    text-align: left;
    
}

/*SOLICITUDES*/

.solicitudes h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
   
}




.solicitud div{
padding: 10px;
}

.trabajos h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;

}

/*OLICITAR SERVICIO*/
.contenedorformulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    
    
}
.opcion{
    grid-area: opcion;
}

.descripcion{
    grid-area: descripcion;

}

.direccion{
    grid-area: direccion;
}





.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "opcion descripcion"
    "direccion direccion";
    grid-gap: 3px;
    height: 30vh;
     

}



.campo { 
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lora',sans-serif;

}

.contenedorBoton {

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

@media (max-width: 480px){
    
    .formulario{
        display: flex;
    flex-direction: column;
    justify-content: center;}
 }