* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora/static/Lora-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: "Noto";
  src: url("../fonts/Noto_Sans_Chorasmian");
}
.menu {
  background-color: #022F40;
  display: flex;
  justify-content: space-between;
}
.menu ul {
  list-style: none;
  display: flex;
  margin-top: 15px;
  gap: 2rem;
  font-family: "Poppins";
}
.menu li ul {
  display: none;
  position: absolute;
  background: #022F40;
  padding: 0;
  z-index: 2;
}
.menu .dropdown:hover .dropdown-child {
  display: block;
}
.menu .dropdown:hover .dropdown-child:hover {
  display: block;
}
.menu a {
  color: rgb(255, 252, 252);
  text-decoration: none;
}

.inicio {
  display: flex;
  justify-content: space-around;
  background-color: #DFDFDF;
}
@media screen and (max-width: 576px) {
  .inicio {
    flex-direction: column;
    background-image: url(../img/imagen-inicio.jpg);
    background-size: cover;
  }
  .inicio::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    opacity: 0.6;
  }
}
.inicio .empecemos {
  z-index: 1;
  font-family: "Poppins", sans-serif;
  font-size: xx-large;
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .inicio .empecemos {
    width: 100%;
  }
}
.inicio .empecemos .contenedorTituloyDescripcion {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-around;
}
.inicio .empecemos .contenedorTituloyDescripcion .descripcion {
  font-size: small;
  text-align: left;
}
@media screen and (max-width: 576px) {
  .inicio .empecemos .contenedorTituloyDescripcion .descripcion {
    text-align: center;
  }
}
.inicio .empecemos .contenedorTituloyDescripcion .tituloempecemos {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: left;
  line-height: 1;
}
@media screen and (max-width: 576px) {
  .inicio .empecemos .contenedorTituloyDescripcion .tituloempecemos {
    justify-content: center;
    text-align: center;
  }
}
.inicio .empecemos .tarjetitas {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  gap: 0.5rem;
  font-size: large;
  height: 30vh;
  height: 50%;
}
.inicio .empecemos .tarjetitas a {
  text-decoration: none;
  color: rgb(255, 252, 252);
}
.inicio .empecemos .tarjetitas .tarjetita {
  width: 90%;
  height: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #175676;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 10px;
}
.inicio .empecemos .tarjetitas .tarjetita:hover {
  background-color: #022F40;
}
.inicio .imagenInicio {
  height: 100hv;
  background-color: #DFDFDF;
  width: 50%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .inicio .imagenInicio {
    width: 100%;
  }
}
.inicio .imagenInicio img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 80%;
}
@media screen and (max-width: 576px) {
  .inicio .imagenInicio img {
    display: none;
  }
}
.inicio .imagenInicio .imagenCarpintero {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 40%;
  border-top-right-radius: 150% 0%;
}
.inicio .imagenInicio .imagenCarpintero img {
  border-top-right-radius: 150% 40%;
  border-top-left-radius: 150% 40%;
}
.inicio .imagenInicio .imagenLimpieza {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.inicio .imagenInicio .imagenLimpieza img {
  border-bottom-right-radius: 150% 40%;
  border-bottom-left-radius: 150% 40%;
}
@media screen and (max-width: 576px) {
  .inicio .imagenInicio .imagenLimpieza img {
    display: none;
  }
}

/*COMO USAR*/
.titulo {
  background-color: #DFDFDF;
  font-family: "Poppins";
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo .contenedorBS {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tarjetasComoUsar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  background-color: #DFDFDF;
  background-size: 100vh;
  font-family: "Noto", sans-serif;
}
@media screen and (max-width: 576px) {
  .tarjetasComoUsar {
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
  }
}
.tarjetasComoUsar .cardComoUsar {
  position: relative;
  height: 60%;
  width: 40%;
}
@media screen and (max-width: 576px) {
  .tarjetasComoUsar .cardComoUsar {
    width: 80%;
    height: 40%;
    font-size: xx-small;
  }
}
.tarjetasComoUsar .cardComoUsar div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transition: 2s;
}
.tarjetasComoUsar .cardComoUsar .front {
  display: flex;
  flex-direction: column;
  background-color: #175676;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 10px;
}
.tarjetasComoUsar .cardComoUsar:hover .front {
  transform: perspective(500px) rotateY(180deg);
}
.tarjetasComoUsar .cardComoUsar .back {
  background: #175676;
  transform: perspective(500px) rotateY(180deg);
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 10px;
}
.tarjetasComoUsar .cardComoUsar:hover .back {
  transform: perspective(500px) rotateY(360deg);
}

.Titulo {
  text-align: center;
  background-color: #DFDFDF;
  font-family: "Poppins", sans-serif;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh;
}
.Titulo h3 {
  text-align: left;
}

.tarjetitasServicios {
  background-image: url(../img/fondo.jpg);
  background-repeat: repeat;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  height: 100%;
  width: 100%;
  padding: 5%;
}
@media screen and (max-width: 576px) {
  .tarjetitasServicios {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }
}
.tarjetitasServicios .tarjetitaServicios {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Lora", sans-serif;
  background-color: #DFDFDF;
}
.tarjetitasServicios .tarjetitaServicios:hover {
  transform: scale(1.2);
}
.tarjetitasServicios .tarjetitaServicios a {
  text-decoration: none;
  color: black;
  font-family: "Noto", sans-serif;
}
@media screen and (max-width: 576px) {
  .tarjetitasServicios .tarjetitaServicios div {
    width: 100%;
    text-align: center;
  }
}
.tarjetitasServicios .tarjetitaServicios img {
  height: 40%;
}
@media screen and (max-width: 576px) {
  .tarjetitasServicios .tarjetitaServicios img {
    height: 15vh;
    width: 30%;
    padding: 2%;
  }
}
@media screen and (max-width: 576px) {
  .tarjetitasServicios .tarjetitaServicios {
    flex-direction: row;
    justify-content: space-between;
    height: 20vh;
    width: 70%;
  }
}

.tarjeta1 {
  background-size: cover;
}

.tarjeta2 {
  background-size: cover;
}

.tarjeta3 {
  background-size: cover;
}

.tarjeta4 {
  background-size: cover;
}

.tarjeta5 {
  background-size: cover;
}

.tarjeta6 {
  background-size: cover;
}

.tarjeta7 {
  background-size: cover;
}

.tarjeta8 {
  background-size: cover;
}

.tarjeta9 {
  background-size: cover;
}

.SeccionRegistrate {
  font-family: "Noto", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #DFDFDF;
}
.SeccionRegistrate .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #175676;
  height: 50vh;
  width: 70%;
  padding: 10%;
}
.SeccionRegistrate .form h2 {
  color: whitesmoke;
}
.SeccionRegistrate .form .controls {
  width: 100%;
  height: 30%;
  background-color: #175676;
  padding: 2%;
  border-radius: 4px;
  border-color: white;
  border-width: 1px;
}
.SeccionRegistrate .form input {
  width: 50%;
}
.SeccionRegistrate .contenedorBoton {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
}
.SeccionRegistrate .contenedorBoton .botonEnviar {
  width: 50%;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: #175676;
  background-image: linear-gradient(90deg, #022F40 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 1s ease-in-out;
}
.SeccionRegistrate .contenedorBoton .botonEnviar:hover {
  background-position: 0;
}
.SeccionRegistrate .contenedorBoton .botonEnviar a {
  color: black;
  text-decoration: none;
}

/*SOLICITUDES*/
.solicitudes h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.solicitud div {
  padding: 10px;
}

.trabajos h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.contenedorformulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contenedorformulario .formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "opcion descripcion" "direccion direccion";
  grid-gap: 3px;
  height: 30vh;
}
.contenedorformulario .formulario .campo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lora", sans-serif;
}
.contenedorformulario .formulario .opcion {
  grid-area: opcion;
}
.contenedorformulario .formulario .descripcion {
  grid-area: descripcion;
}
.contenedorformulario .formulario .direccion {
  grid-area: direccion;
}

.contenedorBoton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.contenedorBoton .botonEnviar {
  width: 50%;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: #f5e4ab;
  background-image: linear-gradient(90deg, hsl(34, 85%, 69%) 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 1s ease-in-out;
  color: black;
}
.contenedorBoton .botonEnviar:hover {
  background-position: 0;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */