
.inicio {
    display: flex;
    justify-content: space-around;
    .empecemos {
    
        background-color: #f5e4ab;
        font-family: 'Poppins',sans-serif;
        font-size:xx-large;
        height:100vh;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .contenedorTituloyDescripcion{
            display: flex;
            flex-direction: column;
            height: 50%;
            justify-content: center;

            .descripcion{
                font-size:small;
                text-align: center;
            
            }

            .tituloempecemos{
                height: 30%;  
                background-color: #f5e4ab;
                width: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
            
                
            }
        


        }

        .tarjetitas { 
    
            display: flex;
            flex-direction: column;
            justify-content: top;
            align-items: center;
            gap: 0.5rem;
            background-color: #f5e4ab;
            font-size:large;
            height: 30vh;
            height: 50%;

            a{
                text-decoration: none;
                color: rgb(255, 252, 252);
            }

            .tarjetita{
    
                width: 90%;
                height: 30%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: hsl(34, 85%, 69%);
                -moz-border-radius: 7px;
                -webkit-border-radius: 7px;
                padding: 10px;
            
            }
           
            
            
        }
    
    }

    .imagenInicio {
        height: 100hv;
        background-color: #f5e4ab;
        width: 50%;
        display: flex;
        justify-content: space-between;

        img {
            object-fit: cover;
            height:80%;
          }

        .imagenCarpintero {
            display: flex;
            flex-direction: column;
            justify-content:end;
            width: 40%;
            border-top-right-radius: 150% 0%;
            img {
                border-top-right-radius: 150% 40%;
                border-top-left-radius: 150% 40%;
            }
        
          }
        .imagenLimpieza {
            display: flex;
            flex-direction: column;
            width: 40%;
            img {
                border-bottom-right-radius: 150% 40%;
                border-bottom-left-radius: 150% 40%;
            }
          }
        
    }



}







    





