
.inicio {
    display: flex;
    justify-content: space-around;
    background-color: $colorPrincipal;

   
    @include mobile {
        flex-direction: column;
        background-image: url(../img/imagen-inicio.jpg);
        background-size: cover;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background-color: white;
            position: absolute;
            opacity: 0.6;
        }
    }

    .empecemos {
    
        z-index: 1;
        font-family: 'Poppins',sans-serif;
        font-size:xx-large;
        height:100vh;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include mobile {
            width: 100%;
        }
        

        .contenedorTituloyDescripcion{
            display: flex;
            flex-direction: column;
            height: 50%;
            justify-content:space-around;
            
            

            .descripcion{
                font-size:small;
                text-align: left;
                
                @include mobile {
                    text-align: center;
                }
                
            
            }

            .tituloempecemos{
    
        
                width: 100%;
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: left;
                line-height: 1;
                
                @include mobile {
                    justify-content: center;
                    text-align: center;
                }
            
                
            }
        


        }

        .tarjetitas { 
    
            display: flex;
            flex-direction: column;
            justify-content: top;
            align-items: center;
            gap: 0.5rem;
            
            font-size:large;
            height: 30vh;
            height: 50%;

    

            a{
                text-decoration: none;
                color: rgb(255, 252, 252);
            }

            .tarjetita{
    
                width: 90%;
                height: 30%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: $colorSecundario;
                -moz-border-radius: 7px;
                -webkit-border-radius: 7px;
                padding: 10px;

                &:hover {
                    background-color: $colorDecorativo;
                }
            
            }
           
            
            
        }
    
    }

    .imagenInicio {
        height: 100hv;
        background-color: $colorPrincipal;
        width: 50%;
        display: flex;
        justify-content: space-between;

        @include mobile {
            width: 100%;
        }

        img {
            object-fit: cover;
            height:80%;

            @include mobile {
                display: none;
            }
          }

        .imagenCarpintero {
            display: flex;
            flex-direction: column;
            justify-content:end;
            width: 40%;
            border-top-right-radius: 150% 0%;
            img {
                border-top-right-radius: 150% 40%;
                border-top-left-radius: 150% 40%;
            }
        
          }
        .imagenLimpieza {
            display: flex;
            flex-direction: column;
            width: 40%;
            img {
                border-bottom-right-radius: 150% 40%;
                border-bottom-left-radius: 150% 40%;

                @include mobile {
                    display: none;
                }
            }
          }
        
    }



}











    





