



.Titulo {
    text-align: center;
    background-color: $colorPrincipal;
    font-family: 'Poppins',sans-serif;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    h3 {
        text-align: left;
    }
    
}

.tarjetitasServicios{
    background-image: url(../img/fondo.jpg);
    background-repeat: repeat;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    
    height:100%;
    
    width: 100%;
    padding: 5%;
    @include mobile{
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        
        
    }
    .tarjetitaServicios { 
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-family: 'Lora',sans-serif;
        background-color: $colorPrincipal;
        &:hover  {-webkit-transform:scale(1.2);transform:scale(1.2);}
        
        a{
            text-decoration: none;
            color: black;
            font-family: 'Noto',sans-serif;
            
            
        }
        div{
            
            @include mobile{
               width: 100%;
               text-align: center;
               
            }
        }
        
        img{
            height: 40%;
            
            @include mobile{
                height: 15vh;
                width: 30%;
                padding: 2%;
                
            }
        }
        @include mobile {
            flex-direction: row;
            justify-content: space-between;
            height: 20vh;
            width: 70%;
            
        }
    
    }

 }


 @for $i from 1 through 9 {
    .tarjeta#{$i} {
        background-size: cover ;
    }
 }


