
/*SOLICITUDES*/

.solicitudes h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
   
}




.solicitud div{
padding: 10px;
}

.trabajos h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;

}