.contenedorformulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .formulario{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "opcion descripcion"
        "direccion direccion";
        grid-gap: 3px;
        height: 30vh;

        .campo { 
    
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Lora',sans-serif;
        
        }
        .opcion{
            grid-area: opcion;
        }
        
        .descripcion{
            grid-area: descripcion;
        
        }
        
        .direccion{
            grid-area: direccion;
        }
         
    
    }
   
   
    
    
}

.contenedorBoton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    .botonEnviar{
        width: 50%;
        font-weight: 500;
        padding: 0.5em 1.2em;
        background: #f5e4ab;
        background-image: linear-gradient(90deg, hsl(34, 85%, 69%) 50%, transparent 50%);
        background-position: 100%;
        background-size: 400%;
        transition: background 1s ease-in-out;
        color: black;
    

        &:hover  {
            background-position: 0;
          }

        
    
        
    }
 }

 a{
    text-decoration: none;
 }




